<mat-toolbar color="primary" class="app-header">
    <div><a routerLink="/main" class="positronx"><img src="./assets/images/logo.png" class="imghome">eSeries</a></div>
    <span class="nav-tool-items">
      <a mat-button (click)='moveToSelectedTab("Iniciar sesión")' routerLinkActive="active" class="a-white" *ngIf="intermediary.nameLocalS == undefined">Iniciar sesión</a>
      <a mat-button mat-raised-button (click)='moveToSelectedTab("Registrarse")' routerLinkActive="active" class="a-white" *ngIf="intermediary.nameLocalS == undefined">Registrarse</a>
      <a mat-button routerLink="/main" class="a-white" *ngIf="intermediary.nameLocalS !== undefined ">Inicio</a>
      <a mat-button *ngIf="intermediary.nameLocalS !== undefined  ">Hola, {{intermediary.nameLocalS}}</a>
      <a mat-button mat-raised-button (click)='logout()' *ngIf="intermediary.nameLocalS !== undefined "> Cerrar sesión</a>
    </span> 
</mat-toolbar>