<div class="container">
  <h2 class="whiteprimary">
    {{action}} Serie
  </h2>

  <mat-card style="margin-top: 10px;">
    <form [formGroup]="myform">
      <mat-grid-list cols="4" rowHeight="80px">
        
        <!--Input (type text) for name-->
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <mat-form-field appearance="standard" class="widthmat">
            <mat-label>Nombre</mat-label>
            <input #input maxlength="30" matInput formControlName="name" placeholder="The Walking Dead" required>
            <mat-icon matSuffix>movie</mat-icon>
            <mat-error *ngIf="myform.controls['name'].hasError('required') && myform.controls['name'].touched">Este campo es <strong>obligatorio</strong>.</mat-error>
            <mat-hint>¡Escribe como se llama la serie!</mat-hint>
            <mat-hint align="end">{{input.value?.length || 0}}/30</mat-hint>
          </mat-form-field>
        </mat-grid-tile>

        <!-- Netflix image -->
        <mat-grid-tile [colspan]="2" [rowspan]="7">
          <div class="divimage">
            <img src="./assets/images/netflix.png" >
          </div>
        </mat-grid-tile>

        <!-- Calendar for release year -->
        <mat-grid-tile [colspan]="2" [rowspan]="1" >
          <mat-form-field appearance="standard" class="widthmat">
            <mat-label>Fecha de lanzamiento</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="releaseYear" placeholder="4/4/2019" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
            <mat-error *ngIf="myform.controls['releaseYear'].hasError('required') && myform.controls['releaseYear'].touched">Este campo es <strong>obligatorio</strong></mat-error>
            <mat-hint>¿Cuál es el año de estreno de la serie?</mat-hint>
          </mat-form-field>
        </mat-grid-tile>

        <!--Select for countries -->
        <mat-grid-tile [colspan]="2" [rowspan]="1" >
          <mat-form-field appearance="standard" class="widthmat">
            <mat-label>País <mat-icon matPrefix> add_location</mat-icon></mat-label>
            <input type="text" placeholder="Busca un país" matInput formControlName="countries" [matAutocomplete]="auto">
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-optgroup>Países
                <mat-option *ngFor="let country of filteredCountries | async" [value]="country"> {{country}} </mat-option>
                </mat-optgroup>
              </mat-autocomplete>
            <mat-error *ngIf="myform.controls['countries'].hasError('required') && myform.controls['countries'].touched">Por favor, selecciona un país</mat-error>
            <mat-hint>Selecciona el país de origen</mat-hint>
          </mat-form-field>
        </mat-grid-tile>

        <!-- Input (type number) for seasons-->
        <mat-grid-tile [colspan]="2" [rowspan]="1" >
          <mat-form-field appearance="standard" class="widthmat">
            <mat-label>Temporadas</mat-label>
            <input matInput type=number placeholder="11" formControlName="season" min="1" pattern="^[0-9]+" required>
            <mat-error *ngIf="myform.controls['season'].hasError('required') && myform.controls['season'].touched">Este campo es <strong>obligatorio</strong>.</mat-error>
            <mat-hint>¿Cuántas temporadas tiene la serie?</mat-hint>
          </mat-form-field>
        </mat-grid-tile>

        <!-- Input (type number) for episodes -->
        <mat-grid-tile [colspan]="2" [rowspan]="1" >
          <mat-form-field appearance="standard" class="widthmat">
            <mat-label>Episodios</mat-label>
            <input matInput type=number placeholder="168" formControlName="episodes" min="1" pattern="^[0-9]+" required>
            <mat-error *ngIf="myform.controls['episodes'].hasError('required') && myform.controls['episodes'].touched">Este campo es <strong>obligatorio</strong>.</mat-error>
            <mat-hint>¿Cuántos episodios tiene la serie?</mat-hint>
          </mat-form-field>
        </mat-grid-tile>

        <!-- Textarea for genres -->
        <mat-grid-tile [colspan]="2" [rowspan]="2">
          <mat-form-field appearance="standard" class="complet">
            <mat-label>Géneros</mat-label>
            <textarea #textarea1 matInput [maxLength]="150" minlength="5" placeholder="De suspense, Cine de Terror, Drama TV, Apocalípsis zombi, Horror..." formControlName="genres" required></textarea>
            <mat-error *ngIf="myform.controls['genres'].hasError('required') && myform.controls['genres'].touched">Este campo es <strong>obligatorio</strong></mat-error>
            <mat-error *ngIf="textarea1.value.length<5">Este campo debe tener como mínimo <strong>5 caracteres</strong>. Recuento: {{textarea1.value?.length}} caracteres.</mat-error>
            <mat-hint>Describe los géneros de la serie</mat-hint>
            <mat-hint align="end">{{textarea1.value?.length || 0}}/150</mat-hint>
          </mat-form-field>
        </mat-grid-tile>

  
        <!-- Textarea for description -->
        <mat-grid-tile [colspan]="2" [rowspan]="2" >
          <mat-form-field appearance="standard" class="complet">
            <mat-label>Descripción</mat-label>
            <textarea #textarea2 matInput [maxLength]="250" minlength="10"
            placeholder="The Walking Dead es una historia creada y situada en un universo post-apocalíptico donde los muertos han regresado a la vida como criaturas irracionales hambrientas y donde la civilización ha sucumbido ante el incesante paso de estos 'caminantes'...." formControlName="description" required></textarea>
            <mat-error *ngIf="myform.controls['description'].hasError('required') && myform.controls['description'].touched">Este campo es <strong>obligatorio</strong></mat-error>
            <mat-error *ngIf="textarea2.value.length <10">Este campo debe tener como mínimo <strong>10 caracteres</strong>. Recuento: {{textarea2.value?.length}} caracteres.</mat-error>
            <mat-hint>Redacta un breve resumen de la serie</mat-hint>
            <mat-hint align="end">{{textarea2.value?.length || 0}}/250</mat-hint>
          </mat-form-field>
        </mat-grid-tile>
        
        <!-- Recaptcha and buttons -->
        <mat-grid-tile [colspan]="2" [rowspan]="2"> 
          <form #formng="ngForm">
            <div class="containercb">
              <div class="row">
                <div class="center">
                  <re-captcha id="recaptcha" name="recaptcha" #recaptcha="ngModel" [(ngModel)]="token" required [class.is-invalid]="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)"></re-captcha>
                </div>
              </div>

              <div>
                <mat-error *ngIf="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)" class="invalid-feedback">
                  <mat-error *ngIf="recaptcha.errors?.['required']">Este campo es <strong>obligatorio</strong>.</mat-error>
                </mat-error>
              </div>
              <br>
              <div>
              <button mat-raised-button class="redbutton" (click)="send(myform, formng)">Aceptar</button> 
              <button mat-raised-button style="margin-left: 20px;" class="whitebutton" routerLink="/">Cancelar</button>  
            </div>
            </div>
          </form>
        </mat-grid-tile>
      </mat-grid-list>
      
    </form>
  </mat-card>
</div>

<div><br><br></div>
