
.widthmat {
  width: 80%; 
}

.divimage img {
  border-radius: 20px;
}

.divimage {
  display:flex;
  justify-content: center;
  align-items: center;
}

img {
  height: auto;
  width: 70%;
}

.complet {
  width: 80%;
}

.complet textarea {
  height: 70px;
}

.containercb {
  display: block;
}

.containercb div{
  display: flex;
  justify-content: center;
  align-items: center;
}

re-captcha.is-invalid > div {
  border: 1px solid #dc3545 !important;
  border-radius: 0.2rem;
}

.center {
  display:list-item;
}

.whitebutton {
  background-color: white;
  color:#333333;
}
