<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-6">
    <h2 class="whiteprimary">Listado de Series</h2>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-6 text-end">
    <button mat-raised-button routerLink="/add" class="redbutton">AGREGAR</button>
  </div>
</div>

<mat-form-field class="buscador">
  <mat-label>Busca alguna serie.. </mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="La casa de papel" autocomplete="off" #input class="whiteprimary-input">
</mat-form-field>

<div class="example-container">
  
  <div class="example-table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="releaseYear">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Año de lanzamiento </th>
        <td mat-cell *matCellDef="let element"> {{element.releaseYear | date:'dd/MM/yyyy'}} </td>
      </ng-container>
    
      <ng-container matColumnDef="countries">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> País </th>
        <td mat-cell *matCellDef="let element"> {{element.countries}} </td>
      </ng-container>
    
      <ng-container matColumnDef="season">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Temporadas </th>
        <td mat-cell *matCellDef="let element">&nbsp;&nbsp; {{element.season}} </td>
      </ng-container>
    
      <ng-container matColumnDef="episodes">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Episodios </th>
        <td mat-cell *matCellDef="let element">&nbsp;&nbsp; {{ element.episodes }} </td>
      </ng-container>
    
      <ng-container matColumnDef="genres">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Géneros </th>
          <td mat-cell *matCellDef="let element"> {{element.genres}}</td>
      </ng-container>

      <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > Descripción </th>
          <td mat-cell *matCellDef="let element">{{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <a class="pointer" style="color: #1878B0;" routerLink="edit/{{i}}">
            <mat-icon>edit</mat-icon>
          </a>
          <a class="pointer" style="color: #E22251;" (click)="deleteSerie(i, element.name)">
            <mat-icon>delete</mat-icon>
          </a>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row (click)="clickedRows.add(row)"
      [class.demo-row-is-clicked]="clickedRows.has(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
    
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"  showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
</div>
  
<div><br></div>

<mat-card class="background-card">
  <div>
    <h3>
      Registro de las series seleccionadas:
    </h3>
  </div>

  <div *ngIf="!clickedRows.size" class="whiteprimary">
    Las filas en las que se hizo clic se registrarán aquí.
  </div>

  <ul>
    <li *ngFor="let clickedRow of clickedRows" class="whiteprimary">
      {{clickedRow.name}}
    </li>
  </ul>
</mat-card>

<div><br><br></div>

