/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body,nav { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-image: url('./assets/images/fondonetflix.jpg');  
    width: 100%;
    -webkit-background-size:cover;
    -o-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
}

simple-snack-bar span{
    margin: auto;
    text-align: center;
}
button:focus{
    outline:none;
}

.redprimary {
    color: #E22251;
    text-transform: uppercase;
    font-size: 18px;
}

.redprimary:hover {
    color: #E22251;
    font-size: 19px;
}

.whiteprimary {
    color: whitesmoke;
}

.redbutton {
    background-color: #E22251;
    color: whitesmoke;
}